.container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.member-name {
    font-size: 26px;
    margin-bottom: 5px;
    
}

.member-image {
    width: 300px;
    border-radius: 300px;
}

.members {
    margin-top:25px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.member {
    margin: 0px 10px;
    margin-bottom: 50px;

	flex-direction:column;
	align-items:center;
}